<% include ../partials/header %>

<!--Show Project-->
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3 text-center"><%= project.name %></h1>
        
        <img class="img-thumbnail center-block" src="<%= project.image %>"></img>
        
        <p><%= project.description %></p>
            
        <h5><strong><%= project.author.username %></strong> - Difficulty: <%= project.difficulty %></h5>

        <a class="btn btn-warning" href="/projects/<%= project._id %>/edit">Edit</a>
    </div>
    
    <!--Show Comments-->
    <div class="container-fluid">
        <a class="btn btn-success" href="/projects/<%= project._id %>/comment/new">Add a Comment</a>
        <% project.comment.forEach(function(comment){ %>
        <div class="row">
            <div class="col-md-12">
                <strong><%= comment.author.username %></strong>
                <p>
                    <%= comment.text %>
                </p>
            </div>
        </div>
        <% })%>
    </div>

</div>

<% include ../partials/footer %>