<% include ../partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3 text-center"><%= project.name %></h1>
        
        <img class="img-thumbnail center-block" src="<%= project.image %>"></img>
        
        <p><%= project.description %></p>
            
        <h5><%= project.author %></h5>

        <a class="btn btn-success" href="/projects/<%= project._id %>/edit">Edit</a>
    </div>
    <!-- COMMENTS DOESN'T WORK -->
    <% project.comment.forEach(function(comment){ %>
           <p><%= comment.text %></p>
    <% })%>
</div>

<% include ../partials/footer %>